<a href="#" class="team-inner">
	<div class="team-image">
		<%=image_tag team.team_image, { alt: "" } %>
		<div class="team-actions">
			<span class="team-count"><%= team.team_profiles.count %></span>
		</div>
	</div>

	<div class="team-title"><%= team.name %></div>
</a>
