<%= form_for(message,:url => in_messages_path  ,:html => { :method => :post, :class => "message-to" ,:role => 'form', :id => 'new_message_form_id'}) do |f| %>
	<%= f.hidden_field(:from_id,value: current_user.id) %>
	<div class="form-body">
		<div class="form-row">
			<label class="form-label">To</label>

			<div class="form-controls">
				<%#= f.text_field :to_id , {class: "form-control form-to","data-provide"=>"typeahead"}%>
				<input type="text" name="in_message[to_id]" id="in_message_to_id" data-provide="typeahead" class="form-control form-to" placeholder="name go here..">
			</div>
		</div>

		<div class="form-row">
			<label class="form-label">Message</label>

			<div class="form-controls">				
				<%= f.text_area :note ,:rows => 6, :class =>"form-control" ,:placeholder => "" %>		
			</div>
		</div>
	</div>

	<div class="form-actions">
		<%= f.submit 'Send Message' , class: 'btn' %>
	</div>
<% end %>
<!-- User.all.map {|u| [u.name,u.id] unless u.id.eql?(current_user.id)}.to_json  -->

<script type="text/javascript">
  // <!-- var data = <%#=raw User.all.select {|u| [u.name,u.id] unless u.id.eql?(current_user.id)}.to_json %>; -->
  // <!-- $("#in_message_to_id").typeahead({ source:data }); -->
  $(function() {
  var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];

$('#in_message_to_id').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: substringMatcher(states)
});
});
</script>
