<div class="main">
	<div class="shell">
			<div class="section-content">
				<div class="tab-content">
					<%= render :partial => 'in_messages/message_content_team' , :locals =>  { messages: @messages}%>
				</div><!-- /.tab-content -->
			</div><!-- /.section-content -->
	</div><!-- /.shell -->
</div><!-- /.main -->
