<div class="main">
	<div class="shell">

			<div class="section-content">
				<div class="tab-content">
					<div class="tab-pane <%='active' if @messages.blank? %>"  id="conversation-compose">
						<div class="messages">
							<div class="messages-inner">
								<div class="form-message">
									<%= render :partial => 'in_messages/form_team' , :locals =>  { message: InMessage.new }%>
								</div><!-- /.form-message -->
							</div><!-- /.messages-inner -->
						</div><!-- /.messages -->
					</div><!-- /.tab-pane -->

					<% @messages.each_with_index do |message,index| %>
						<%= render :partial => 'in_messages/message_content' , :locals =>  { message: message ,active: (index == 0) ? 'active' : ''}%>
					<% end %>

				</div><!-- /.tab-content -->
			</div><!-- /.section-content -->
	</div><!-- /.shell -->
</div><!-- /.main -->
