<li class="user-alt" id="<%=profile.id%>">
	<div class="user-expand">
		<%= render :partial => 'profiles/profile_messages' , :locals =>  { profile: profile }%>
		
	</div><!-- /.user-expand -->

	<%= render :partial => 'profiles/user_main' , :locals =>  { profile: profile }%>
</li><!-- /.user-alt -->