/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

@import "stylesheets/bootstrap/variables";

$body-bg:              			#fbfbfb !default;
$text-color:           			#36393b !default;

$font-family-sans-serif: 		'Ubuntu', Arial, sans-serif !default;
$font-size-base:         		21px !default;
$line-height-base:       		1.24 !default;

$grid-gutter-width:         	8px !default;
$container-large-desktop:       (992px + $grid-gutter-width) !default;

$screen-md-max: 				1023px;
