/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */
/* line 6, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
body {
  min-width: 320px;
}

/* line 8, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
h1 {
  font-size: 42px;
}

/* line 9, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
h2 {
  font-size: 36px;
}

/* line 10, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
h3 {
  font-size: 21px;
}

/* line 11, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
h4 {
  font-size: 18px;
}

/* line 12, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
h5 {
  font-size: 16px;
}

/* line 13, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
h6 {
  font-size: 14px;
}

/* line 15, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-weight: normal;
}

/* line 22, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
ul {
  padding: 0;
  margin: 0;
}

/* line 24, /Users/yossie/projects/roooster/app/assets/stylesheets/_base.scss */
img {
  max-width: 100%;
  height: auto;
}
