/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */
/* line 15, /Users/yossie/projects/roooster/app/assets/stylesheets/_grids.scss */
.wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
}

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */
/* line 21, /Users/yossie/projects/roooster/app/assets/stylesheets/_grids.scss */
.shell {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, /Users/yossie/.rvm/gems/ruby-2.2.3@roooster/gems/susy-2.2.7/sass/susy/output/support/_clearfix.scss */
.shell:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 1199px) {
  /* line 24, /Users/yossie/projects/roooster/app/assets/stylesheets/_grids.scss */
  .shell {
    max-width: 648px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }
  /* line 12, /Users/yossie/.rvm/gems/ruby-2.2.3@roooster/gems/susy-2.2.7/sass/susy/output/support/_clearfix.scss */
  .shell:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */
/* line 32, /Users/yossie/projects/roooster/app/assets/stylesheets/_grids.scss */
.container {
  max-width: 100%;
}
