/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form { 
	
	.form-head { padding: 10px 0; text-align: center; font-size: 12px; color: #5b5b5b; }
	.form-title { max-width: 256px; margin: 0 auto 8px; padding: 9px 0; font-weight: bold; text-transform: uppercase; color: #000; border-bottom: 1px solid #f0f0f0; }
	
	.form-row { margin-bottom: 10px; font-size: 12px; }
	.form-row a { color: #7b7b7b; }
	.form-row-alt { margin: 15px 0 -5px; }

	.form-label { display: block; margin: 0 0 3px; font-size: 13px; color: #535353; font-weight: normal; }
	.form-control { height: 28px; padding: 0 13px; background: #fbfbfb; border-radius: 0; border: 1px solid #dae4eb; box-shadow: none; font-size: 13px; color: #cfcfcf; transition: all .2s ease-out; }
	.form-control:focus { color: #535353; }
	
	.form-group { margin: 0; }
	.form-group h5 { font-size: 15px; font-weight: bold; color: #000; text-transform: uppercase; }
	
	.form-asterisk { color: #aa3939; }
	
	.form-group + .form-group { border-top: 1px solid #f0f0f0; margin-top: 25px; padding-top: 15px; }
	
	.form-actions { max-width: 256px; margin: 0 auto; padding: 18px 0; 

		.btn { width: 100%; margin-bottom: 6px; }
	}

	.form-error { margin-bottom: 25px; font-size: 15px; color: #7c7c7c; text-align: center; letter-spacing: -0.025em; }
	
	.form-foot { font-size: 11px; color: #bdbdbd; 

		p { margin: 0; }
		a { color: inherit; text-decoration: underline; }
		a:hover { text-decoration: none; }
	}

	.form-thanks { padding: 10px 0; margin: 120px 0 270px; border-width: 1px 0; border-style: solid; border-color: #f0f0f0; text-align: center; 

		h4 { margin: 0 0 10px; font-weight: bold; text-transform: uppercase; }
		p { margin: 0; font-size: 14px; }
	}

	.checkbox { position: relative; margin: 0 0 5px; line-height: 1.4; 

		input { position: absolute; left: -4000px; top: 0; opacity: 0; }
		label { position: relative; min-height: 0; padding-left: 22px; color: #7b7b7b; }
		label a { color: #d46a6b; }
		label:before { content: ''; position: absolute; left: 0; top: 1px; width: 14px; height: 14px; line-height: 10px; border-radius: 50%; border: 2px solid #226666; text-align: center; color: #fff; font-size: 9px; font-family: FontAwesome; }
		input:checked + label:before { content: '\f00c'; background: #226666; }
	}

	.radio { position: relative;  margin: 0;

		input { position: absolute; left: -4000px; top: 0; opacity: 0; }
		label { min-height: 0; margin: 0; font-size: 13px; color: #b3b2b2; padding-left: 16px; }
		label:before { content: ''; position: absolute; left: 0; top: 2px; width: 11px; height: 11px; padding: 2px; border-radius: 50%; border: 2px solid #226666; background-clip: content-box; }
		input:checked + label:before { background-color: #226666; }
	}
}

/* ------------------------------------------------------------ *\
	Form Sign Up
\* ------------------------------------------------------------ */

.form-signup {
	.form-inner { max-width: 520px; margin: 0 auto; }
	.form-inner-alt { max-width: 256px; margin: 0 auto; }

	.form-row-alt { margin-top: 22px; }
	.form-actions { padding: 24px 0 18px; }

	&-alt .form-head p { text-align: justify; color: #9d9d9d; letter-spacing: -0.028em; line-height: 1.67; }

	.fstElement { height: 28px; padding: 0 2px; background: #fbfbfb; border-radius: 0; border: 1px solid #dae4eb; font-size: 13px; color: #cfcfcf; }
	.fstMultipleMode .fstQueryInput { height: 26px; }
	.fstChoiceItem { height: 26px; line-height: 26px; }

	@media (max-width: $screen-xs-max) {
		.form-inner { max-width: 240px; }
	}
}
/* ------------------------------------------------------------ *\
	Form Sign In
\* ------------------------------------------------------------ */

.form-signin {
	.form-inner { max-width: 256px; margin: 0 auto; }
	.form-actions { padding-top: 2px; }
}

/* ------------------------------------------------------------ *\
	Form Suggest
\* ------------------------------------------------------------ */

.form-suggest {

	.form-inner { position: relative; padding: 0 60px 20px; background: #fdfdfd; border: 1px solid #dfe8e8; }
	.form-inner-actions { position: absolute; left: 50%; bottom: -12px; transform: translateX(-50%); }
	.form-inner-actions .collapsed i { transform: rotate(0deg); transition: all .2s ease-out; }
	.form-inner-actions a i { transform: rotate(180deg); }
	.form-control { height: 22px; padding: 0 10px; background: #fff; }
	
	.row { position: relative; }
	.row-icon { position: absolute; right: 100%; top: 4px; margin-right: 12px; }
	.row-icon i { vertical-align: top; }
	
	.form-group-row { overflow: hidden; }
	.form-group-aside { float: left; margin-right: 8px; }
	.form-group-inner { overflow: hidden; }

	.form-row-icon { float: left; margin: -3px 6px -3px 0; }
	.form-row-icon + .form-controls { overflow: hidden; }
	
	.form-foot { position: relative; text-align: center; margin-top: 8px; font-size: 13px; }
	.form-foot p { padding: 8px 0; }
	.form-actions { position: absolute; right: 0; top: 0; width: 256px; padding: 0; }

	.list-radios { padding: 3px 0; list-style: none outside none; overflow: hidden; 
		
		li { float: left; margin-right: 9px; }
	}

	@media (max-width: $screen-md-max) {
		.form-group-aside { float: none; margin-right: 0; overflow: hidden; margin-bottom: 5px; }
		.form-row-icon { display: none; }
		.form-actions { position: static; margin: 30px auto 0; }
	}

	@media (max-width: $screen-xs-max) {
		.form-inner { padding: 0 20px 20px; }
	}
}

/* ------------------------------------------------------------ *\
	Autocomplete Field
\* ------------------------------------------------------------ */

.fstMultipleMode .fstControls { width: auto; padding: 0 5px; }
.fstMultipleMode .fstQueryInput { height: 22px; padding: 0 5px; margin: 0; font-size: 13px; color: #b4b3b3; }
.fstMultipleMode.fstActive .fstResults { border-color: #dae4eb; box-shadow: none; }
.fstMultipleMode.fstActive { box-shadow: none; }
.fstElement { display: block; border-color: #dae4eb; font-size: 12px; }
.fstResultItem { padding: 0 10px; color: #b4b3b3; font-size: 13px; line-height: 1.62; }
.fstResultItem.fstSelected { display: none; }
.fstChoiceItem { height: 20px; line-height: 20px; margin: 1px 0 1px 5px; padding: 0 16px 0 0; border: 0; background: transparent; color: #b4b3b3; font-size: 13px; }
.fstChoiceItem .btn-remove { position: absolute; right: 0; top: 50%; width: 14px; height: 14px; padding: 0; margin-top: -6px; border: 0; background-color: transparent; font-size: 0; line-height: 0; text-indent: -4004px; }
.fstResultItem.fstFocused { background: transparent; color: #a4a3a3; border-color: transparent; }

.fstNoResults { padding: 5px 10px; font-size: 13px; }
