@import '../variables';
/* ------------------------------------------------------------ *\
	Modal
\* ------------------------------------------------------------ */

.modal { z-index: 950;

	.modal-dialog { width: 670px; max-width: 100%; padding: 0 15px; margin: 100px auto 30px; }
	.modal-content { background: rgba(255,255,255,.93); border-radius: 0; border: 1px solid #dce6ec; box-shadow: 2px -2px 4px 0 rgba(0,0,0,.03), inset 1px 1px 5px 0 rgba(193,207,217,.35); }
	.modal-body { padding: 10px; }

	.modal-close { position: absolute; z-index: 950; right: -12px; top: -11px; width: 25px; height: 24px; padding: 0; margin: 0; border: 0; border-radius: 50%; background: #fff; -webkit-appearance: none;
			
			&:active,
			&:focus,
			&:hover { opacity: .7; outline: none; }
			i { vertical-align: top; }
	}

	&.modal-small {
		.modal-dialog { width: 425px; }
	}

	@media (max-width: $screen-xs-max) {
		.modal-dialog { width: 390px; margin-top: 70px; }
	}
}

.modal-backdrop { z-index: 900; background: #fff; }
.modal-backdrop.in { opacity: .8; }
