@import '../variables';
/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search { position: relative; max-width: 648px; margin: 0 auto;

	.search-field { height: 35px; padding: 0 50px 0 13px; background: #fff; border-radius: 0; border: 1px solid #dae4eb; box-shadow: inset 2px 2px 5px 0 rgba(193, 207, 217, .35); font-size: 13px; color: #cfcfcf; transition: all .2s ease-out; }	
	.search-btn { position: absolute; top: 1px; right: 1px; width: 40px; height: 33px; padding: 0 0 3px; border: 0; background: transparent; color: #666666; font-size: 18px; transition: all .2s ease-out; }
	.search-btn:hover { color: #fff; background: #2e3641; }	
	
	.search-body { margin-bottom: 13px; }
	.search-foot { text-align: center; font-size: 13px; font-weight: 300; color: #bababa; 

		ul { display: inline; list-style: none outside none; }
		li { display: inline; }
		li + li:before { content: '\2022'; }
		a { text-decoration: underline; color: #bababa; }
		a:hover { color: #aa3939; }
	}

	.fstElement { height: 35px; padding: 0 50px 0 8px; background: #fff; border-radius: 0; border: 1px solid #dae4eb; box-shadow: inset 2px 2px 5px 0 rgba(193, 207, 217, 0.35); font-size: 13px; color: #cfcfcf; }
	.fstMultipleMode .fstQueryInput { height: 35px; }
	.fstChoiceItem { height: 33px; line-height: 33px; }

	&-alt { max-width: 266px; margin: 7px 0 0 auto; 

		.search-field { height: 27px; padding-right: 40px; }
		.search-btn { height: 25px; width: 30px; font-size: 15px; }
	}

	@media (max-width: $screen-sm-max) {
		.search-foot { font-size: 12px; }
	}
}
