/* ------------------------------------------------------------ *\
	Articles
\* ------------------------------------------------------------ */
/* line 6, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.articles {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}

/* line 8, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article {
  padding: 5px 0;
  font-weight: 300;
}
/* line 10, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article + .article {
  margin-top: 22px;
}
/* line 12, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article .article-title {
  margin: 0 0 .5em;
  color: #36393b;
  font-weight: 500;
}
/* line 14, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article .article-title a {
  color: #36393b;
}
/* line 15, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article .article-title a:hover {
  color: #ab3939;
  text-decoration: none;
}
/* line 18, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article .article-actions {
  position: relative;
  padding-top: 7px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.025em;
}
/* line 20, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article .article-actions:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 100%;
  height: 1px;
  background: #e1e1e1;
}
/* line 21, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article .article-actions a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  padding-right: 5px;
  background: #fbfbfb;
  font-size: 14px;
  color: #7b7b7b;
}
/* line 22, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article .article-actions a:hover,
.article .article-actions a:focus {
  color: #538787;
  text-decoration: none;
}
/* line 24, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article .article-actions a i {
  margin-left: 3px;
}
@media (max-width: 767px) {
  /* line 28, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
  .article .article-title,
  .article .article-entry {
    font-size: 17px;
  }
}

/* ------------------------------------------------------------ *\
	Single Article
\* ------------------------------------------------------------ */
/* line 39, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article-single .article-meta {
  margin-bottom: 10px;
  font-size: 12px;
  color: #7b7b7b;
}
/* line 40, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article-single .article-entry {
  font-weight: 300;
}
/* line 42, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
.article-single .article-entry p {
  margin-bottom: 27px;
}
@media (max-width: 767px) {
  /* line 45, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
  .article-single .article-entry {
    font-size: 17px;
  }
  /* line 46, /Users/yossie/projects/roooster/app/assets/stylesheets/modules/_articles.scss */
  .article-single .article-entry p {
    margin-bottom: 15px;
  }
}
