/* ------------------------------------------------------------ *\
	List Teams
\* ------------------------------------------------------------ */

.list-teams {
	& { padding-top: 13px; list-style: none outside none; text-align: center; }

	li { display: inline-block; vertical-align: top; margin: 0 2px 10px; font-size: 7px; color: #959597; letter-spacing: 0.02em; text-transform: uppercase; text-align: center; }
	span { display: block; margin-bottom: 6px; }
	a { color: #959597; text-decoration: none; }
	a:hover { text-decoration: none; }

	.image { overflow: hidden; width: 57px; height: 57px; border: 1px solid #dae4eb; border-radius: 50%; }
	.image img { border: 2px solid #fff; border-radius: 50%; }
}


/* ------------------------------------------------------------ *\
	List Media
\* ------------------------------------------------------------ */

.list-media {
	& { list-style: none outside none; margin: 0 -3px; font-size: 0; }

	li { display: inline-block; vertical-align: top; width: 33.3%; padding: 0 3px; }
	a { display: block; }
	img { width: 100%; height: auto; }

	@media ( max-width: $screen-mobile-portrait ) {
		li { display: block; width: 100%; }

		li ~ li { margin-top: 10px; }
	}
}
