/* ------------------------------------------------------------ *\
	Messages
\* ------------------------------------------------------------ */

.messages { position: relative; margin-bottom: 30px; background: #fff; border: 1px solid #dae4eb; font-size: 14px;

	.messages-close { position: absolute; right: -12px; top: -12px; background: #fff; border-radius: 50%; }
	.messages-inner { padding: 34px 52px; }

	.messages-arrow { position: absolute; top: 100%; left: 0; width: 25%; transition: left .2s ease-out; }
	.messages-arrow:before { content: ''; position: absolute; left: 50%; top: 0; margin-left: -10px; border-width: 13px 10px 0; border-style: solid; border-color: #dae4eb transparent; }
	.messages-arrow:after { content: ''; position: absolute; left: 50%; top: 0; margin-left: -9px; border-width: 12px 9px 0; border-style: solid; border-color: #fff transparent; }

	.message { position: relative; padding-left: 48px; margin-bottom: 40px; 

		&-hidden { display: none; }
		
		.message-avatar { position: absolute; left: -37px; top: -20px; width: 78px; height: 78px; padding: 4px; background: #fff; border-radius: 50%; border: 1px dashed #dbe5ec; }
		.message-avatar img { border-radius: 50%; }
		
		.message-head { margin-bottom: 8px; }

		.message-head-inner { overflow: hidden; padding: 1px 0 3px; border-bottom: 1px solid #d9d9d9; }
		
		.message-actions { position: relative; float: right; margin: 5px 0 0 5px; }
		.message-actions ul { float: left; list-style: none outside none; }
		.message-actions li { float: left; }
		.message-actions li + li { margin-left: 4px; }
		.message-actions span { position: absolute; right: 0; top: 100%; margin-top: 3px; font-size: 9px; font-weight: bold; text-transform: uppercase; color: #abafb3; white-space: nowrap; visibility: hidden; opacity: 0; transition: all .2s ease-out; }
		.message-actions a:hover span { visibility: visible; opacity: 1; }

		.message-author { float: left; font-weight: bold; color: #36393b; }

		.message-date { float: right; padding: 2px 2px 0; color: #a6a6a6; font-size: 12px; }
		
		.message-entry { padding-right: 50px; color: #818181; line-height: 1.3; word-wrap: break-word; min-height: 18px; }
		.message-entry p { margin-bottom: .58em; }
		.message-entry a { color: #09f; }
	}

	@media (max-width: $screen-md-max) {
		.messages-arrow { width: 33.333%; }
	}

	@media (max-width: $screen-xs-max) {
		.messages-arrow { width: 100%; }

		.messages-inner { padding: 8px; }
		
		.message { padding-left: 0;
			
			.message-avatar { display: none; }
			.message-entry { padding-right: 0; }
		}
	}

	@media (max-width: $screen-mobile-portrait) {
		.message .message-date { display: none; }
	}
}
