/* ------------------------------------------------------------ *\
	Video
\* ------------------------------------------------------------ */

.video { position: relative; padding-top: 56.25%; }
.video iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
