<div class="container users">
  <div class="row">
    <!-- <h3>Users</h3> -->
    <div class="column">
      <table class="table">
        <thead>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Searchable</th>
          <th>Created</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <footer class="section-foot">
        <%= will_paginate @users %> <%="(page #{params[:page]} of #{@pagecount} - total: #{@users.count})"%>
      </footer><!-- /.section-foot -->
    </div>
  </div>
</div>
