<section class="section section-about">
	<div class="section-inner">
		<footer class="section-foot section-foot-alt visible-xs">
			<a href="#modal-signup" class="btn" data-toggle="modal">Sign Up</a>

			<!-- <p>Freelancer? Apply for an invite <a href="#modal-signup-freelancer" data-toggle="modal">here</a>.</p> -->
		</footer><!-- /.section-foot -->

		<h2 class="section-title">What is Roooster?</h2><!-- /.section-title -->

		<div class="section-body">
			<div class="section-entry">
				<p>Instead of going through dozens of different resources to find the right person for your next project, why not use the experience of creative leaders like you, and share yours? Roooster is about sharing your contact list of freelance design talents, to receive contacts from other design leaders.</p>

				<p>If you run a creative studio, which provides top quality work of design, animation, photography, film or art, than Roooster is for you: Discover great new artists, recommended by your peers.</p>
			</div><!-- /.section-entry -->

			<div class="section-image">
				<!-- <img src="images/section-about-image.png" height="251" width="455" alt=""> -->
				<%=image_tag "section-about-image.png", { height: "251" ,width: "455" ,alt: "" } %>
			</div><!-- /.section-image -->
		</div><!-- /.section-body -->

		<footer class="section-foot">
			<a href="#modal-signup" class="btn" data-toggle="modal">Sign Up</a>

			<!-- <p>Freelancer? Apply for an invite <a href="#modal-signup-freelancer" data-toggle="modal">here</a>.</p> -->
		</footer><!-- /.section-foot -->
	</div><!-- /.section-inner -->
</section><!-- /.section section-about -->