<section class="section section-about">
	<div class="section-inner">
		<footer class="section-foot section-foot-alt visible-xs">
			<a href="#modal-signup" class="btn" data-toggle="modal">Sign Up</a>

			<!-- <p>Freelancer? Apply for an invite <a href="#modal-signup-freelancer" data-toggle="modal">here</a>.</p> -->
		</footer><!-- /.section-foot -->

		<h2 class="section-title">Don't Let Your Shortlist Run Short</h2><!-- /.section-title -->

		<div class="section-body">
			<div class="section-entry">
			<p>Roooster's vision is about creating the world's top creative talent force. We want to provide creative leaders the tools to expand their rosters, to compete with the biggest and baddest in the industry for the top projects and to provide them the possibility to collaborate with other studios in dynamic alliances.</p>
			</div><!-- /.section-entry -->

			<div class="section-image">
				<!-- <img src="images/section-about-image.png" height="251" width="455" alt=""> -->
				<%=image_tag "section-about-image.png", { height: "251" ,width: "455" ,alt: "" } %>
			</div><!-- /.section-image -->
		</div><!-- /.section-body -->

		<footer class="section-foot">
			<% unless user_signed_in? %>
			<a href="#modal-signup" class="btn" data-toggle="modal">Sign Up</a>
			<% end %>
			<!-- <p>Freelancer? Apply for an invite <a href="#modal-signup-freelancer" data-toggle="modal">here</a>.</p> -->
		</footer><!-- /.section-foot -->
	</div><!-- /.section-inner -->
</section><!-- /.section section-about -->