<div class="wrapper">
	
	<div class="main">
		<div class="shell">
			<section class="section section-blog section-blog-alt">
				<h2 class="section-title">This is our first blog post</h2><!-- /.section-title -->

				<div class="section-body">
					<article class="article-single">
						<div class="article-meta">28.08.2015 By Roooster</div><!-- /.article-meta -->

						<div class="article-entry">
							<p>in London, I have just a few in-house employees and like many of you, heavily depended on freelances to help with ongoing projects. We ys, browsing through hundreds ofare all used to waste daare al</p>
							
							<p>Therefore, I came up with the idea of sharing the best freelance contacts with my fellow creative leaders, in hope that others would contribute and together we can build the ultimate list to help everyone - creatives and freelancers alike.</p>
							
							<p>Therefore, I came up with the idea of sharing the best freelance contacts with my fellow creative leaders, in hope that others would contribute and together we can build the ultimate list to help everyone - creatives and freelancers alike. Therefore, I came up with the idea of sharing the best freelance contacts with my fellow.</p>
						</div><!-- /.article-entry -->

						<div class="article-image">
							<img src="images/temp/article-image.jpg" height="246" width="627" alt="">
						</div><!-- /.article-image -->
					</article><!-- /.article-single -->
				</div><!-- /.section-body -->

				<footer class="section-foot">
					<a href="#">
						<i class="ico-arrow-left-small"></i> Previous Post
					</a>
				
					<a href="#">
						Next post <i class="ico-arrow-right-small"></i>
					</a>
				</footer><!-- /.section-foot -->
			</section><!-- /.section section-blog -->
		</div><!-- /.shell -->
	</div><!-- /.main -->
	
</div><!-- /.wrapper -->