<div class="wrapper">
	
	<div class="main">
		<div class="shell">
			<section class="section section-blog section-blog-alt">
				<h2 class="section-title">This is our first blog post</h2><!-- /.section-title -->

				<div class="section-body">
					<article class="article-single">
						<div class="article-meta">28.08.2015 By Roooster</div><!-- /.article-meta -->

						<div class="article-entry">
							<p>in London, I have just a few in-house employees and like many of you, heavily depended on freelances to help with ongoing projects. We ys, browsing through hundreds ofare all used to waste daare al</p>
							
							<p>Therefore, I came up with the idea of sharing the best freelance contacts with my fellow creative leaders, in hope that others would contribute and together we can build the ultimate list to help everyone - creatives and freelancers alike.</p>
							
							<p>Therefore, I came up with the idea of sharing the best freelance contacts with my fellow creative leaders, in hope that others would contribute and together we can build the ultimate list to help everyone - creatives and freelancers alike. Therefore, I came up with the idea of sharing the best freelance contacts with my fellow.</p>
						</div><!-- /.article-entry -->

						<div class="article-image">
							<img src="images/temp/article-image.jpg" height="246" width="627" alt="">
						</div><!-- /.article-image -->
					</article><!-- /.article-single -->
				</div><!-- /.section-body -->

				<footer class="section-foot">
					<a href="#">
						<i class="ico-arrow-left-small"></i> Previous Post
					</a>
				
					<a href="#">
						Next post <i class="ico-arrow-right-small"></i>
					</a>
				</footer><!-- /.section-foot -->
			</section><!-- /.section section-blog -->
		</div><!-- /.shell -->
	</div><!-- /.main -->

	<div class="modal modal-small fade" id="modal-signin">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
					<i class="ico-close"></i>
				</button>

				<div class="modal-body">
					<div class="form form-signin">
						<form action="?" method="post">
							<div class="form-inner">
								<div class="form-head">
									<h4 class="form-title">Sign In</h4><!-- /.form-title -->
								
									<p>Great to see you again!</p>
								</div><!-- /.form-head -->
								
								<div class="form-body">
									<div class="form-row">										
										<div class="form-controls">
											<input type="text" class="form-control" name="field-signin-username" id="field-freelancer-username" value="" placeholder="Username">
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->
									
									<div class="form-row">										
										<div class="form-controls">
											<input type="password" class="form-control" name="field-signin-password" id="field-signin-password" value="" placeholder="Password">
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->	

									<div class="form-row">
										<div class="checkbox">
											<input type="checkbox" name="field-remember-me" id="field-remember-me" checked>
											
											<label for="field-remember-me">Remember me on this computer</label>
										</div><!-- /.checkbox -->

										<a href="#">Forgot password?</a>
									</div><!-- /.form-row -->
								</div><!-- /.form-body -->
								
								<div class="form-actions">
									<input type="submit" value="Sign In" class="btn form-btn">
								</div><!-- /.form-actions -->
								
								<div class="form-error">
									<p>This is where error messages go.</p>
								</div><!-- /.form-error -->
							</div><!-- /.form-inner -->
						</form>
					</div><!-- /.form-signin -->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	
</div><!-- /.wrapper -->