<div class="wrapper">

	<div class="main">
		<div class="shell">
			<section class="section-freelancers">
				<header class="section-head">
					<div class="row">
						<div class="col-lg-6 col-md-8">
							<h2 class="section-title">The Roooster</h2><!-- /.section-title -->

							<span>found <strong>23 results</strong> that match your search</span>
						</div><!-- /.col-lg-6 col-md-8 -->
						
						<div class="col-lg-6 col-md-4">
							<div class="search search-alt">
								<form action="?" method="get">
									<label for="q" class="hidden">Search</label>
									
									<input type="search" name="q" id="q" value="" placeholder="" class="form-control search-field">
									
									<button type="submit" class="search-btn">
										<i class="fa fa-search"></i>
									</button>
								</form>
							</div><!-- /.search search-alt -->
						</div><!-- /.col-lg-6 col-md-4 -->
					</div><!-- /.row -->
				</header><!-- /.section-head -->

				<div class="section-body">
					<ul class="freelancers">
						<li class="freelancer">
							<div class="freelancer-icon">
								<i class="ico-user"></i>
							</div><!-- /.freelancer-icon -->

							<div class="freelancer-head">
								<h5 class="freelancer-name">Tony Zagoraios</h5><!-- /.freelancer-name -->

								<p>London, UK</p>
							</div><!-- /.freelancer-head -->

							<ul class="freelancer-links">
								<li>
									<a href="#">www.artonemotion.com</a>
								</li>
								
								<li>
									<a href="#">tonyzagoraios@hotmail.com</a>
								</li>
								
								<li>
									<a href="#">Vcard</a>
								</li>
							</ul><!-- /.freelancer-links -->

							<div class="freelancer-foot">
								<ul class="freelancer-socials">
									<li>
										<a href="#">
											<i class="ico-linkedin"></i>
										</a>
									</li>
									
									<li>
										<a href="#">
											<i class="ico-behance"></i>
										</a>
									</li>
									
									<li>
										<a href="#">
											<i class="ico-vimeo"></i>
										</a>
									</li>
								</ul><!-- /.freelancer-socials -->

								<div class="freelancer-foot-inner">
									<strong>Senior</strong>

									<p>Motion Graphics, Animation, Art Direction, Design, After Effects, Cinema 4D, Final Cut, Illustrator, Photoshop</p>
								</div><!-- /.freelancer-foot-inner -->
							</div><!-- /.freelancer-foot -->
						</li><!-- /.freelancer -->
					
						<li class="freelancer">
							<div class="freelancer-icon">
								<i class="ico-user"></i>
							</div><!-- /.freelancer-icon -->

							<div class="freelancer-head">
								<h5 class="freelancer-name">Nejc Polovsak</h5><!-- /.freelancer-name -->

								<p>Slovenia</p>
							</div><!-- /.freelancer-head -->

							<ul class="freelancer-links">
								<li>
									<a href="#">www.twistedpoly.com</a>
								</li>
								
								<li>
									<a href="#">nejc@twistedpoly.com</a>
								</li>
								
								<li>
									<a href="#">Vcard</a>
								</li>
							</ul><!-- /.freelancer-links -->

							<div class="freelancer-foot">
								<ul class="freelancer-socials">
									<li>
										<a href="#">
											<i class="ico-linkedin"></i>
										</a>
									</li>
									
									<li>
										<span>
											<i class="ico-behance"></i>
										</span>
									</li>
									
									<li>
										<a href="#">
											<i class="ico-vimeo"></i>
										</a>
									</li>
								</ul><!-- /.freelancer-socials -->

								<div class="freelancer-foot-inner">
									<strong>Senior</strong>

									<p>Motion Graphics, Animation, Art Direction, Design, After Effects, Cinema 4D, Final Cut, Illustrator, Photoshop, Premiere, Maya</p>
								</div><!-- /.freelancer-foot-inner -->
							</div><!-- /.freelancer-foot -->
						</li><!-- /.freelancer -->
					
						<li class="freelancer">
							<div class="freelancer-icon">
								<i class="ico-user"></i>
							</div><!-- /.freelancer-icon -->

							<div class="freelancer-head">
								<h5 class="freelancer-name">Miguel Rato</h5><!-- /.freelancer-name -->

								<p>London, UK</p>
							</div><!-- /.freelancer-head -->

							<ul class="freelancer-links">
								<li>
									<a href="#">http://iamgraphicartist.com</a>
								</li>
								
								<li>
									<a href="#">hello@iamgraphicartist.com</a>
								</li>
								
								<li>
									<a href="#">Vcard</a>
								</li>
							</ul><!-- /.freelancer-links -->

							<div class="freelancer-foot">
								<ul class="freelancer-socials">
									<li>
										<span>
											<i class="ico-linkedin"></i>
										</span>
									</li>
									
									<li>
										<a href="#">
											<i class="ico-behance"></i>
										</a>
									</li>
									
									<li>
										<a href="#">
											<i class="ico-vimeo"></i>
										</a>
									</li>
								</ul><!-- /.freelancer-socials -->

								<div class="freelancer-foot-inner">
									<strong>Senior</strong>

									<p>Motion Graphics, Animation, Art Direction, Design, Graphic Design, Typography, UI, After Effects, Cinema 4D, Final Cut, Illustrator, Photoshop,</p>
								</div><!-- /.freelancer-foot-inner -->
							</div><!-- /.freelancer-foot -->
						</li><!-- /.freelancer -->
					
						<li class="freelancer">
							<div class="freelancer-icon">
								<i class="ico-user"></i>
							</div><!-- /.freelancer-icon -->

							<div class="freelancer-head">
								<h5 class="freelancer-name">Piero Desopo</h5><!-- /.freelancer-name -->

								<p>LA, USA</p>
							</div><!-- /.freelancer-head -->

							<ul class="freelancer-links">
								<li>
									<a href="#">http://www.phoenixart.com</a>
								</li>
								
								<li>
									<a href="#">piero.desopo@gmail.com</a>
								</li>
								
								<li>
									<a href="#">Vcard</a>
								</li>
							</ul><!-- /.freelancer-links -->

							<div class="freelancer-foot">
								<ul class="freelancer-socials">
									<li>
										<a href="#">
											<i class="ico-linkedin"></i>
										</a>
									</li>
									
									<li>
										<a href="#">
											<i class="ico-behance"></i>
										</a>
									</li>
									
									<li>
										<span>
											<i class="ico-vimeo"></i>
										</span>
									</li>
								</ul><!-- /.freelancer-socials -->

								<div class="freelancer-foot-inner">
									<strong>Senior</strong>

									<p>Director, Motion Graphics, Animation, Art Direction, Design, Illustrator, After Effects, Cinema 4D, Final Cut, Illustrator, Photoshop, Premiere, Maya</p>
								</div><!-- /.freelancer-foot-inner -->
							</div><!-- /.freelancer-foot -->
						</li><!-- /.freelancer -->
					</ul><!-- /.freelancers -->
				</div><!-- /.section-body -->
			</section><!-- /.section-freelancers -->

			<section class="section-suggest">
				<header class="section-head">
					<div class="section-icon">
						<i class="ico-dots"></i>
					</div><!-- /.section-icon -->

					<a href="#form-suggest" class="btn btn-default btn-large btn-collapse-form" data-toggle="collapse">
						Suggest a Freelancer

						<i class="ico-arrow-down-medium"></i>
					</a>
				</header><!-- /.section-head -->

				<div class="section-body">
					<div class="form form-suggest collapse" id="form-suggest">
						<form action="?" method="post">
							<div class="form-inner">
								<div class="form-head">
									<h4 class="form-title">Suggest a Freelancer</h4><!-- /.form-title -->
								
									<p>Adding a freelancer to Roooster is the same as recommending them to your peers.</p>
								</div><!-- /.form-head -->
								
								<div class="form-body">
									<div class="row">
										<div class="row-icon visible-lg">
											<i class="ico-user"></i>
										</div><!-- /.row-icon -->

										<div class="col-lg-3">
											<div class="form-row">
												<div class="form-controls">
													<input type="text" class="form-control" name="field-suggest-first-name" id="field-suggest-first-name" value="" placeholder="First">
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->
										</div><!-- /.col-lg-3 -->
										
										<div class="col-lg-3">
											<div class="form-row">
												<div class="form-controls">
													<input type="text" class="form-control" name="field-suggest-last-name" id="field-suggest-last-name" value="" placeholder="Last">
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->
										</div><!-- /.col-lg-3 -->
										
										<div class="col-lg-6">
											<div class="form-row">
												<div class="form-controls">
													<input type="text" class="form-control" name="field-suggest-email" id="field-suggest-email" value="" placeholder="Email">
												</div><!-- /.form-controls -->
											</div><!-- /.form-row -->
										</div><!-- /.col-lg-6 -->
									</div><!-- /.row -->

									<div class="form-group collapse" id="form-suggest-more">
										<div class="form-group-row">
											<div class="form-group-aside">
												<ul class="list-radios">
													<li>
														<div class="radio">
															<input type="radio" name="suggest-title" id="field-senior">
															
															<label class="form-label" for="field-senior">Senior</label>
														</div><!-- /.radio -->
													</li>
													
													<li>
														<div class="radio">
															<input type="radio" name="suggest-title" id="field-mid">
															
															<label class="form-label" for="field-mid">Mid</label>
														</div><!-- /.radio -->
													</li>
													
													<li>
														<div class="radio">
															<input type="radio" name="suggest-title" id="field-junior">
															
															<label class="form-label" for="field-junior">Junior</label>
														</div><!-- /.radio -->
													</li>
												</ul><!-- /.list-radios -->
											</div><!-- /.form-group-aside -->

											<div class="form-group-inner">
												<div class="row">
													<div class="col-lg-6">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="form-control" name="field-suggest-website" id="field-suggest-website" value="" placeholder="Website">
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.col-lg-6 -->
													
													<div class="col-lg-6">
														<div class="form-row">
															<div class="form-controls">
																<input type="text" class="form-control" name="field-suggest-location" id="field-suggest-location" value="" placeholder="Location">
															</div><!-- /.form-controls -->
														</div><!-- /.form-row -->
													</div><!-- /.col-lg-6 -->
												</div><!-- /.row -->
											</div><!-- /.form-group-inner -->
										</div><!-- /.form-group-row -->

										<div class="row">
											<div class="col-lg-4">
												<div class="form-row">
													<i class="ico-linkedin form-row-icon"></i>

													<div class="form-controls">
														<input type="text" class="form-control" name="field-suggest-linkedin" id="field-suggest-linkedin" value="" placeholder="LinkedIn">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-lg-4 -->
											
											<div class="col-lg-4">
												<div class="form-row">
													<i class="ico-behance form-row-icon"></i>

													<div class="form-controls">
														<input type="text" class="form-control" name="field-suggest-behance" id="field-suggest-behance" value="" placeholder="Behance">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-lg-4 -->
											
											<div class="col-lg-4">
												<div class="form-row">
													<i class="ico-vimeo form-row-icon"></i>

													<div class="form-controls">
														<input type="text" class="form-control" name="field-suggest-vimeo" id="field-suggest-vimeo" value="" placeholder="Vimeo">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-lg-4 -->
										</div><!-- /.row -->

										<div class="form-row">
											<div class="form-controls">
												<select name="field-suggest-skills" id="field-suggest-skills" class="select-autocomplete" multiple data-placeholder="Skills">
													<option value="director">Director</option>
													
													<option value="motion-graphics">Motion Graphics</option>
													
													<option value="animation">Animation</option>
													
													<option value="art-direction">Art Direction</option>
													
													<option value="design">Design</option>
													
													<option value="illustrator">Illustrator</option>
													
													<option value="after-effects">After Effects</option>
												</select>
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.form-group -->
								</div><!-- /.form-body -->

								<div class="form-inner-actions">
									<a href="#form-suggest-more" class="collapsed" data-toggle="collapse">
										<i class="ico-arrow-down-medium"></i>
									</a>
								</div><!-- /.form-inner-actions -->
							</div><!-- /.form-inner -->
								
							<div class="form-foot">
								<p>Want to send us a whole list? great! <a href="#">click here</a> to attach a file.</p>
							
								<div class="form-actions">
									<input type="submit" value="Submit" class="btn">
								</div><!-- /.form-actions -->
							</div><!-- /.form-foot -->
						</form>
					</div><!-- /.form form-suggest -->
				</div><!-- /.section-body -->
			</section><!-- /.section-suggest -->
		</div><!-- /.shell -->
	</div><!-- /.main -->

	<div class="modal fade" id="modal-edit-profile">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
					<i class="ico-close"></i>
				</button>

				<div class="modal-body">
					<div class="form form-signup">
						<form action="?" method="post">
							<div class="form-inner">
								<div class="form-head">
									<h4 class="form-title">My Studio Profile</h4><!-- /.form-title -->
								
									<p>Looking good!</p>
								</div><!-- /.form-head -->
								
								<div class="form-body">
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-row">
													<label for="field-username" class="form-label">
														Username <em>(cannot be changed)</em>
													</label>
													
													<div class="form-controls">
														<input type="text" class="form-control" name="field-username" id="field-username" value="" placeholder="">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-sm-6 -->
											
											<div class="col-sm-6">
												<div class="form-row">
													<label for="field-additional-email" class="form-label">Additional Email</label>
													
													<div class="form-controls">
														<input type="text" class="form-control" name="field-additional-email" id="field-additional-email" value="" placeholder="">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-sm-6 -->
										</div><!-- /.row -->
										
										<div class="row">
											<div class="col-sm-6">
												<div class="form-row">
													<label for="field-first-name" class="form-label">First Name</label>
													
													<div class="form-controls">
														<input type="text" class="form-control" name="field-first-name" id="field-first-name" value="" placeholder="">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-sm-6 -->
											
											<div class="col-sm-6">
												<div class="form-row">
													<label for="field-last-name" class="form-label">Last Name</label>
													
													<div class="form-controls">
														<input type="text" class="form-control" name="field-last-name" id="field-last-name" value="" placeholder="">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-sm-6 -->
										</div><!-- /.row -->
										
										<div class="form-row">
											<label for="field-location" class="form-label">
												Location <em>(City, State, Country)</em>
											</label>
											
											<div class="form-controls">
												<input type="text" class="form-control" name="field-location" id="field-location" value="" placeholder="">
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.form-group -->
								
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6">
												<div class="form-row">
													<label for="field-company-name" class="form-label">Company Name</label>
													
													<div class="form-controls">
														<input type="text" class="form-control" name="field-company-name" id="field-company-name" value="" placeholder="">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-sm-6 -->
											
											<div class="col-sm-6">
												<div class="form-row">
													<label for="field-website" class="form-label">Company Website</label>
													
													<div class="form-controls">
														<input type="text" class="form-control" name="field-website" id="field-website" value="" placeholder="">
													</div><!-- /.form-controls -->
												</div><!-- /.form-row -->
											</div><!-- /.col-sm-6 -->
										</div><!-- /.row -->
										
										<div class="form-row">
											<label for="field-social-links" class="form-label">Social Links</label>
											
											<div class="form-controls">
												<input type="text" class="form-control" name="field-social-links" id="field-social-links" value="" placeholder="">
											</div><!-- /.form-controls -->
										</div><!-- /.form-row -->
									</div><!-- /.form-group -->
								</div><!-- /.form-body -->
								
								<div class="form-actions">
									<input type="submit" value="Update" class="btn form-btn">
									
									<button class="btn btn-light">Reset my password</button>
								</div><!-- /.form-actions -->
								
								<div class="form-error">
									<p>This is where error messages go.</p>
								</div><!-- /.form-error -->
							</div><!-- /.form-inner -->

							<div class="form-foot">
								<p>Need help? <a href="#">drop us a line</a>.</p>
							</div><!-- /.form-foot -->
						</form>
					</div><!-- /.form-signup -->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div><!-- /.wrapper -->