<header class="header">
	<div class="shell">
		<!-- <a href="home.html" class="logo">roooster</a> -->
		<%= link_to 'roooster', root_path, class: 'logo'  %>
		<span class="slogan">Collaborative Roster For Creative Leaders</span>

		<div class="header-actions"> 
		<!-- hidden-xs -->
			<a href="#modal-signin" class="btn btn-default" data-toggle="modal-alt">Sign In</a>
			<!-- <a href="#" id="modal-signin-link" class="btn btn-default" data-url="<%=new_user_session_path %>" data-toggle="modal-alt">Sign In</a> -->
		</div>
	</div>
</header>