<header class="header">
	<div class="shell">
		<!-- <a href="home.html" class="logo">roooster</a> -->
		<%= link_to 'roooster', root_path, class: 'logo'  %>
		<span class="slogan">Collaborative Roster For Creative Leaders</span>

		<div class="header-actions">
		<!-- hidden-xs -->
			<div class="dropdown">
				<a href="#" class="btn btn-default" data-toggle="dropdown">
					<%= current_user.firstname %> <span class="btn-icon"><i class="ico-arrow-down-small"></i></span>
				</a>

				<ul class="dropdown-menu">
					<!-- <li>
						<a href="#modal-edit-profile" data-toggle="modal">Edit</a>
					</li> -->
					<%# if current_user.studio?  %>
						<!-- <li>
							<a href="#modal-edit-profile-studio" data-toggle="modal">Edit <%#= "Studio" if current_user.freelancer? %></a>
						</li> -->
					<%# end %>
					<%# if current_user.freelancer?  %>
						<!-- <li>
							<a href="#modal-edit-profile-freelancer" data-toggle="modal">Edit <%#= "Freelancer" if current_user.studio? %></a>
						</li> -->
					<%# end %>

					<% if current_user.profile?  %>
						<li>
							<a href="#modal-edit-profile" data-toggle="modal">Edit Profile</a>
						</li>
					<% end %>

					<% if current_user.admin?  %>
						<li><%= link_to 'Users', users_path %></li>
						<li>
							<%#= link_to 'Edit account', edit_user_registration_path %>
							<a href="#modal-edit-profile-admin" data-toggle="modal">Edit</a>
						</li>
						<!-- <li><%#= link_to 'Edit account', edit_user_registration_path %></li> -->
					<% end %>	

					<li>
						<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
					</li>
				</ul><!-- /.dropdown-menu -->
			</div><!-- /.dropdown -->
		</div><!-- /.header-actions -->
	</div><!-- /.shell -->
</header><!-- /.header -->