<div class="intro">
	<div class="intro-inner">
		<div class="container">
			<div class="row">						
				<div class="intro-content">
					<h2 class="intro-title">
						CREATE TOGETHER <br>
						THE BEST, MOST RELIABLE,<br>
						FREELANCE TALENT POOL<br>
						Roooster helps you discover awesome artists,<br>
						recommended by other creative leaders<br>
					</h2><!-- /.intro-title -->
					
					<div class="intro-entry">
						<p>Share your artistic, engineering &amp; management experience with the industry's highest quality community</p>
					</div><!-- /.intro-entry -->
				</div><!-- /.intro-content -->

				<div class="col-sm-4 col-xs-3 pull-left">
					<div class="intro-image">
						<!-- <img src="images/intro-image.png" height="204" width="167" alt=""> -->
						<%=image_tag "intro-image.png", { height: "204" ,width: "167" ,alt: "" } %>
					</div><!-- /.intro-image -->
				</div><!-- /.col-sm-4 col-xs-3 -->
			</div><!-- /.row -->

			<div class="intro-foot hidden-xs">
				<a href="#modal-signup" class="btn" data-toggle="modal">Sign Up</a>

				<!-- <p>Freelancer? Apply for an invite <a href="#modal-signup-freelancer" data-toggle="modal">here</a>.</p> -->
			</div><!-- /.intro-foot -->

			<div class="intro-actions hidden">
				<a href="#modal-signin" class="btn btn-default" data-toggle="modal">Sign In</a>
			</div><!-- /.intro-actions -->
		</div><!-- /.container -->
	</div><!-- /.intro-inner -->
</div><!-- /.intro 	-->