<div class="modal modal-small fade" id="modal-signup-alt">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signup">
					<form action="?" method="post">
						<div class="form-inner-alt">
							<div class="form-head">
								<h4 class="form-title">Studio Sign Up</h4><!-- /.form-title -->
								
								<p>We just need a few deatils. Boring, we know :)</p>
							</div><!-- /.form-head -->
							
							<div class="form-body">
								<div class="form-thanks">
									<h4>Thanks!</h4>

									<p>We will be in touch shortly :)</p>
								</div><!-- /.form-thanks -->
							</div><!-- /.form-body -->
						</div><!-- /.form-inner-alt -->
					</form>
				</div><!-- /.form-signup -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal modal-small fade" id="modal-signup-freelancer-alt">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signup">
					<form action="?" method="post">
						<div class="form-inner-alt">
							<div class="form-head">
								<h4 class="form-title">Freelance Sign Up</h4><!-- /.form-title -->
								
								<p>We just need a few deatils. Boring, we know :)</p>
							</div><!-- /.form-head -->
							
							<div class="form-body">
								<div class="form-thanks">
									<h4>Thanks!</h4>

									<p>We will be in touch shortly :)</p>
								</div><!-- /.form-thanks -->
							</div><!-- /.form-body -->
						</div><!-- /.form-inner-alt -->
					</form>
				</div><!-- /.form-signup -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal modal-small fade" id="modal-signin-pending-alt">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-signup">
					<form action="?" method="post">
						<div class="form-inner-alt">
							<div class="form-head">
								<h4 class="form-title">Sign In</h4><!-- /.form-title -->
								
								<p>Your account is pending approval. Boring, we know :)</p>
							</div><!-- /.form-head -->
							
							<div class="form-body">
								<div class="form-thanks">
									<h4>Thanks!</h4>

									<p>We will be in touch shortly :)</p>
								</div><!-- /.form-thanks -->
							</div><!-- /.form-body -->
						</div><!-- /.form-inner-alt -->
					</form>
				</div><!-- /.form-signup -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->