<div class="modal modal-medium fade" id="modal-avatar">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-avatar">
					<form action="?" method="post">
						<div class="form-inner">
							<div class="form-head">
								<div class="team team-sortable">
									<div class="team-inner">
										<div class="team-image">
											<%=image_tag current_user.profile.profile_image , { class: "team-image-selected" ,  alt: "" } %>
										</div><!-- /.team-image -->
									</div>
								</div><!-- /.team -->
							</div><!-- /.form-head -->

							<div class="form-body">
								<ul class="list-avatars">

									<% (1..4).each_with_index do |index| %>
									<li>
										<div class="team">
											<a href=".team-image-selected" class="team-inner change-image">
												<div class="team-image">
													<%=image_tag "team-image#{index}.jpg", { alt: "" } %>
												</div><!-- /.team-image -->
											</a>
										</div><!-- /.team -->
									</li>
									<%	end	%>


									<li>
										<div class="team team-alt">
											<div class="team-inner">
												<div class="team-image">
													<%=image_tag "team-default.jpg" , { alt: "" } %>
													<div class="team-actions">
														<span class="team-add">
															<i class="ico-plus"></i>
														</span>
													</div><!-- /.team-actions -->

													<input type="file" name="upload-team" id="upload-team">

													<label for="upload-team">Upload</label>
												</div><!-- /.team-image -->
											</div>
										</div><!-- /.team -->
									</li>
								</ul><!-- /.list-avatars -->

								<div class="form-hint">choose new image</div><!-- /.form-hint -->
							</div><!-- /.form-body -->
						</div><!-- /.form-inner -->
					</form>
				</div><!-- /.form-action -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->