<div class="modal modal-small fade" id="modal-report">
	<div class="modal-dialog">
		<div class="modal-content">
			<button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
				<i class="ico-close"></i>
			</button>

			<div class="modal-body">
				<div class="form form-action">
					<form action="?" method="post">
						<div class="form-inner">
							<div class="form-head">
								<h4 class="form-title">Report Spam</h4><!-- /.form-title -->
							</div><!-- /.form-head -->

							<div class="form-body">
								<div class="form-entry">
									<p>Are you sure you want to report this message as spam?</p>
								</div><!-- /.form-entry -->
							</div><!-- /.form-body -->

							<div class="form-actions">
								<button class="btn btn-blue form-btn" data-dismiss="modal">Cancel</button>

								<button type="submit" class="btn form-btn">Yes</button>
							</div><!-- /.form-actions -->
						</div><!-- /.form-inner -->
					</form>
				</div><!-- /.form-action -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->