/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { position: absolute; left: 0; bottom: 0; width: 100%; padding: 20px 0 0; background: #464646; color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; text-align: center; 

	.footer-nav { padding: 9px 0 6px; line-height: 1; letter-spacing: -0.025em; 

		ul { list-style: none outside none; padding-bottom: 13px; }
		li { display: inline; }
		li + li:before { content: '|'; color: #868585; }
		a { color: #fff; }
	}

	.footer-socials { padding-bottom: 35px; font-size: 0; 

		ul { list-style: none outside none; text-align: center; }
		li { display: inline-block; vertical-align: top; margin: 0 2px; }
		a { display: block; width: 25px; height: 25px; line-height: 22px; border-radius: 50%; border: 2px solid #818181; background: #818181; color: #464646; font-size: 16px; transition: all .2s ease-out; }
		a:hover { background: #464646; color: #818181; }
	}

	.footer-bar { padding: 13px 0; background: #fbfbfb; color: #8a8a8a; font-size: 13px; 

		p { margin: 0; }
	}

	@media(max-width: 767px){
		.footer-nav-xs-hidden { display: none; }
		.footer-nav-xs-hidden + .footer-socials { padding-bottom: 20px; }
	}

	@media (max-width: 479px) {
		.shell { padding: 0 5px; }
		.footer-nav { font-size: 13px; }
	}
}

.footer-fullpage { position: relative; z-index: 999; }