/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { max-width: 648px; margin: 0 auto; padding: 10px 0 0; 

	.section-title { margin-bottom: .7em; color: #aa3939; letter-spacing: -0.025em; }
	.section-body { padding-left: 18px; }
	.section-entry { font-weight: 300; }
	.section-entry p { margin-bottom: 1.3em; }
	.section-entry p:last-child { margin-bottom: 0; }
	.section-image { margin: 32px 0 15px; text-align: center; }

	@media (max-width: $screen-xs-max) {
		.section-title { font-size: 29px; }
		.section-body { padding-left: 0; }
		.section-entry { font-size: 17px; }
	}
}

/* ------------------------------------------------------------ *\
	Section About
\* ------------------------------------------------------------ */

.section-about { position: relative; height: calc(100vh - 45px); min-height: 700px; 

	.section-inner { position: absolute; left: 0; top: 50%; width: 100%; transform: translateY(-50%); }

	.section-foot { max-width: 278px; margin: 0 auto; text-align: center; 

		&-alt { margin-bottom: 25px; }

		.btn { width: 100%; margin-bottom: 8px; }
		p { color: #9b9b9b; font-size: 13px; letter-spacing: 0.025em; }
		p a { color: #9b9b9b; text-decoration: underline; }
		p a:hover { text-decoration: none; }
	}

	@media (max-width: $screen-xs-max) {
		& { height: auto; min-height: 0; }
		.section-inner { position: static; transform: translateY(0%); }
	}
}

/* ------------------------------------------------------------ *\
	Section Blog
\* ------------------------------------------------------------ */

.section-blog { padding: 15px 0 87px;

	.section-foot { text-align: left; padding: 0 18px; margin-top: 40px; letter-spacing: -0.025em; 

		a { position: relative; display: inline-block; vertical-align: top; font-size: 14px; color: #7b7b7b; }
		a:hover,
		a:focus { color: #538787; text-decoration: none; }
		a i { margin-left: 4px; }
	}

	&-alt { padding: 101px 0 80px;
		
		.section-title { margin-bottom: 10px; }
		.section-foot a i { margin-right: 4px; margin-left: 0; }
		.section-foot a + a { float: right; }
		.section-foot a + a i { margin-left: 4px; margin-right: 0; }
	}

	@media (max-width: $screen-xs-max) {
		& { padding-bottom: 50px; }

		.section-foot { padding: 0; margin-top: 30px; }

		&-alt { padding: 30px 0 50px; }
	}
}

/* ------------------------------------------------------------ *\
	Section Search
\* ------------------------------------------------------------ */

.section-search { padding: 95px 0 160px; 

	.section-title { margin: 0 0 34px; font-size: 28px; text-align: center; font-weight: bold; letter-spacing: -0.025em; }
	.section-image { margin-top: 65px; padding-right: 30px; text-align: center; }
	
	.section-actions { text-align: center; margin-top: 10px; }

	@media (max-width: $screen-sm-max) {
		& { padding: 20px 0 120px; }
		.section-title { margin-bottom: 25px; font-size: 22px; letter-spacing: -0.03em; }
		.section-image { margin: 20px auto 10px; }
	}
}

/* ------------------------------------------------------------ *\
	Section Freelancers
\* ------------------------------------------------------------ */

.section-freelancers { padding: 92px 7px 0; 

	.section-head { margin-bottom: 5px; letter-spacing: -0.025em; }
	.section-head span { display: inline-block; vertical-align: bottom; margin-bottom: 2px; font-size: 12px; color: #7b7b7b; }
	.section-head span strong { color: #ab3939; }
	.section-title { display: inline-block; margin: 0; color: #ab3939; }

	@media (max-width: $screen-md-max) {
		& { margin: 0 -50px; }
	}

	@media (max-width: $screen-sm-max) {
		& { margin: 0; padding: 40px 0; }

		.section-title { display: block; }
		.search-alt { max-width: none; }
		.section-head { margin-bottom: 20px; }
	}
}

/* ------------------------------------------------------------ *\
	Section Suggest
\* ------------------------------------------------------------ */

.section-suggest { padding-bottom: 100px; 
	
	.section-icon { padding: 30px 0; text-align: center; }
	.section-head { text-align: center; }
	
	.section-body { max-width: 996px; margin: 0 auto; }

	.btn-collapse-form { transition: none; }
}



/* ------------------------------------------------------------ *\
	Divider
\* ------------------------------------------------------------ */

.divider { position: relative; text-align: center; margin-bottom: 35px; 

	&:before { content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 1px; background: #e6e6e6; }

	a { display: inline-block; vertical-align: top; position: relative; z-index: 5; padding: 0 18px; background: #fbfbfb; }

	@media (max-width: $screen-xs-max) {
		& { margin-bottom: 20px; }
	}

	@media (max-width: 479px) {
		& { margin-bottom: 10px; }
	}
}

