/* ------------------------------------------------------------ *\
	Sticky
\* ------------------------------------------------------------ */

.sticky-wrapper { position: relative; }
.sticky-item { position: absolute; z-index: 100; left: 0; top: 0; width: 100%; backface-visibility: hidden; }
.sticky-fixed { position: fixed; }
