/* ------------------------------------------------------------ *\
	Tabs Invites
\* ------------------------------------------------------------ */

.tabs-invites {

	.tabs-nav { list-style: none outside none; }
	.tabs-nav li { position: relative; padding-bottom: 12px; margin: 0 4px; }

	.tabs-nav .active:before,
	.tabs-nav .active:after { content: ''; position: absolute; left: 50%; bottom: -1px; margin-left: -10px; border-width: 0 10px 10px; border-style: solid; border-color: #e1e9ef transparent; }
	.tabs-nav .active:after { border-width: 0 9px 9px; bottom: -2px; margin-left: -9px; border-color: #fff transparent; }

	.tab-pane { padding: 18px; background: #fdfefe; border: 1px solid #e1e9ef; }

	.team .team-image img { opacity: .4; transition: all .2s ease-out; }
	.team-filled .team .team-image img { opacity: 1; }

	@media (max-width: $screen-xs-max) {
		.tabs-nav li { margin: 0; }
	}
}
