<h1>Hi <%=@invitee.firstname %>,</h1>

<pre>
You will probably be glad to know that <%=@inviter.name %> has recommended you to the Roooster community of design professionals, 
by adding you to our directory of trusted freelancers. 
You are invited to join us and <%=link_to "create your profile" , @invitation_link %>
or to have a look at Roooster.

</pre>