Hi <%=@invitee["firstname"] %>,

You will probably be glad to know that <%=@inviter.name %> has recommended you to the Roooster community of design professionals, 
by adding you to our directory of trusted freelancers. 
You are invited to join us at https://roooster.co and create your profile</a> 
or to have a look at Roooster. 
