// Requirements
// ============

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
);

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { position: relative; min-height: 100vh; padding-bottom: 200px; }

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { @include container(1010px);

	@media (max-width: $screen-md-max) {
		& { @include container(648px); padding: 0 10px; }
	}
}

/* ------------------------------------------------------------ *\
	Container
\* ------------------------------------------------------------ */

.container { max-width: 100%; }
