<h1>Hi <%=@user.firstname %>,</h1>
<pre>
You will probably be glad to know that Roooster has selected you to our directory of trusted creatives.

This means that your profile will be visible to other Roooster users for professional engagement. You can use 
this opportunity to <%=link_to 'update your profile', root_url(profile: true) %> or to have a look at your listing in our directory.

Looking forward to having you with us,
The Roooster team
</pre>