<section class="section section-about">
	<div class="section-inner">
		<h2 class="section-title">About</h2>
		<div class="section-body">
			<div class="section-entry">
				<p>Roooster is a service for creative leaders, who run design studios. Roooster is aiming to solve the problem of wasting too much time, effort and money, looking for top freelance talents, at the expense of the actual work.</p>
				<p>Finding, evaluating and hiring the best available freelancers, is every creative leader’s living nightmare; It is a tedious and time consuming process that has to be done over and over… and over again. We are all used to having workdays gone down the drain, browsing through hundreds of online portfolios and websites with rating systems that are hard to trust.</p>
				<p>Roooster is the brainchild of two industry veterans, who came up with the idea of sharing the best freelance contacts with their peers. The result is a collaborative work designed to expand users’ creative resource pool, which helps everyone – studios and freelancers alike.</p>
				<p>Your submission of a talent’s contact is your recommendation: please add only experienced and trustworthy artists you have worked with and appreciate.</p>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</section>	