<br>
<section class="section section-top">
	<div class="section-inner">
		<h2 class="section-title">FAQ</h2>
		<div class="section-body">
			<div class="section-entry">
				<!-- <h5>
					<span style="color: #aa3939;">
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-general">General Questions   </a>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-studio">Studio Questions    </a>&nbsp; &nbsp;&nbsp; &nbsp;
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-freelancer">Freelancer Questions</a>
					</span>
				</h5> -->
				<!-- <h1><strong>General Questions</strong></h1> -->
				<!-- <h2 class="article-title section-general"> General Questions </h3> -->
				<hr>
				<!-- <p>&nbsp;</p> -->
				<h3>Who is Roooster for?</h3>
				<p>If you run a creative studio, which provides top quality work of design, animation, photography, film or art, then Roooster is for you. You do not have to be the studio owner: as long as you hire freelance artists, Rooster can be of service to you.</p>
				<h3>What if I own a studio, but sometimes freelance myself?</h3>
				<p>As long as you employ great freelancers, we are sure that you can make a great contribution to our Roooster. As for your details, you can add any contact details you feel are happy to share, but remember: adding a freelancer to the listing is the same as recommending them to other professionals who have high standards.</p>
				<h3>Giving my freelancers’ details will affect their availability.</h3>
				<p> Yes, Probably: there is a good chance that by sharing their contact details, you will help your freelancers get more jobs. If this is the case, they should thank you. But you also know that these top talents are not just “your freelancers”. They are also promoting themselves by doing excellent work and they could be unavailable for your next project anyway. By sharing these details, you may lose some availability, but you do gain access to many more contacts and by this you increase your overall freelance availability.</p>
				<h3>Is my entry addition automatically added to the listing?</h3>
				<p>No. Once you update your profile details, our team will review it before adding it to the listing."</p>
				<h3>Can I post a job?</h3>
				<p>No. Roooster is not a job board. You can contact the talent directly and offer them a job based on your evaluation.</p>
				<h3>Can I apply for a project?</h3>
				<p>No. Roooster is not a job board. When a studio looks for a freelancer in Roooster, we know they have a project in mind, so when they contact you, they will be communicating directly with you about this project.</p>
				<h3>Where can I raise more questions?</h3>
				<p>
				<!-- <span style="color: #aa3939;"> -->
				Click<a style="color: #aa3939;" href="mailto:info@roooster.net"> here </a>to contact us directly.
				<!-- </span> -->
				</p>

				<h5></h5>
				<h6><span style="color: #999999;"><a style="color: #999999;" href="#" data-scroll-to=".section-top">Top</a></span></h6>	
				<!-- <h3>Where can I raise more questions?</h3>
				<p><span style="color: #aa3939;">
				<a style="color: #aa3939;" href="mailto:info@roooster.net">Click here</a>
				</span> to contact us directly.</p> -->
				<div class="clear"></div>
			</div>
		</div>
	</div>
</section>