<br>
<section class="section section-top">
	<div class="section-inner">
		<h2 class="section-title">FAQ</h2>
		<div class="section-body">
			<div class="section-entry">
				<!-- <h5>
					<span style="color: #aa3939;">
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-general">General Questions   </a>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-studio">Studio Questions    </a>&nbsp; &nbsp;&nbsp; &nbsp;
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-freelancer">Freelancer Questions</a>
					</span>
				</h5> -->
				<!-- <h1><strong>General Questions</strong></h1> -->
				<!-- <h2 class="article-title section-general"> General Questions </h3> -->
				<hr>
				<!-- <p>&nbsp;</p> -->
				
				<h3>Who is Roooster for?</h3>
				<p>IRoooster is for creatives who need to work in teams: You can be looking to manage a team for a specific project; you can be looking to have a dream-team for specific types of projects OR you can be a creative looking to join a great team.</p>
				<p>If you are a creative professional, who provide top quality work of design, animation, photography, film or art, then Roooster is for you. It doesn’t matter what business type you run or where it is you are working from: as long as you are working with other creatives or artists, Roooster can be of service to you.</p>

				<h3>Is my profile automatically added to the listing?</h3>
				<p>No. Once you update your profile details, our team will review it before adding it to the listing. This is a measure for us to make sure our search results includes only the best possible creatives.</p>
				<p>If you do not find yourself in the search, it doesn’t mean that we do not appreciate you. It means that we probably are still evaluating your details, among many others. </p>
				
				<h3>how do I edit my profile?</h3>
				<p>NWhen you go to your profile page, you have owner’s view, which shows you placeholder texts and images if you hadn’t added your personal information yet. The owner’s view allows you to edit the information on the page itself: your title, location, descriptions and skills.</p>
				<p>Your teams are added automatically to the page, but at this stage, they will be clickable only to you. If you want to add your social networks and online portfolios to the profile, you can use the profile settings: you will find the small settings symbol at the top of the personal details box. Clicking on it will pop-up the settings form, allowing you to connect the integrated social networks, to add emails, change your personal details and your password. </p>
				
				<h3>Can I post a job?</h3>
				<p>No. Roooster is not a job board. You can contact other users directly and offer them a job based on your evaluation. You can invite the people you like to work with to a team you create and start working with them from Roooster.</p>
				
				<h3>Can I apply for a project?</h3>
				<p>No. Roooster is not a job board. When a team leader looks for team member in Roooster, they may have a project in mind, so when they contact you, they will be communicating directly with you about this project.</p>
				
				<h3>Where can I raise more questions?</h3>
				<p>
				<!-- <span style="color: #aa3939;"> -->
				Click<a style="color: #aa3939;" href="mailto:info@roooster.co"> here </a>to contact us directly.
				<!-- </span> -->
				</p>

				<h5></h5>
				<h6><span style="color: #999999;"><a style="color: #999999;" href="#" data-scroll-to=".section-top">Top</a></span></h6>	
				<!-- <h3>Where can I raise more questions?</h3>
				<p><span style="color: #aa3939;">
				<a style="color: #aa3939;" href="mailto:info@roooster.co">Click here</a>
				</span> to contact us directly.</p> -->
				<div class="clear"></div>
			</div>
		</div>
	</div>
</section>