<br>
<section class="section section-top">
	<div class="section-inner">
		<h2 class="section-title">FAQ</h2>
		<div class="section-body">
			<div class="section-entry">
				<h5>
					<span style="color: #aa3939;">
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-general">General Questions   </a>&nbsp; &nbsp;|&nbsp;&nbsp;&nbsp;
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-studio">Studio Questions    </a>&nbsp; &nbsp;|&nbsp; &nbsp;
						<a style="color: #aa3939;" href="#" data-scroll-to=".section-freelancer">Freelancer Questions</a>
					</span>
				</h5>
				
				
				<!-- <h1><strong>General Questions</strong></h1> -->
				<h2 class="article-title section-general"> General Questions </h3>
				<hr>
				<p>&nbsp;</p>
				<h3>Who is Roooster for?</h3>
				<p>If you run a creative studio, which provides top quality work of design, animation, photography, film or art, then Roooster is for you. You do not have to be the studio owner: as long as you hire freelance artists, Rooster can be of service to you.</p>
				<h3>Is this service free?</h3>
				<p>Yes.</p>
				<p>In the future, we plan to expand this service and create premium features. But the main service of a shared contact list and several other future additions will always be free of charge.</p>
				<h3>What is the difference between Roooster and other listings out there?</h3>
				<p>Roooster’s shared contact list is created by studios for the specific skills that they require. Other lists are usually too general and are based on information provided by freelancers, agents and human-services companies.</p>
				<h3>Can any studio join Roooster?</h3>
				<p>At this point we are still at our beta stage. Roooster is an invite-only service and you are more than welcome to sign up for a Roooster account. We review the request as quickly as possible and send out an invitation once the review is done.</p>
				<h3>What if I own a studio, but sometimes freelance?</h3>
				<p>As long as you employ great freelancers, we are sure that you can make a great contribution to our Roooster. As for your details, you can add any contact details you feel are happy to share, but remember: adding a freelancer to the listing is the same as recommending them to other professionals who have high standards.</p>
				<p>&nbsp;</p>
				<h5></h5>
				<h6><span style="color: #999999;"><a style="color: #999999;" href="#" data-scroll-to=".section-top">Top</a></span></h6>
				<p>&nbsp;</p>
				<!-- <h1 id="2"><strong>Studio Questions</strong></h1> -->
				<h2 class="article-title section-studio"> Studio Questions </h3>
				<hr>
				<p>&nbsp;</p>
				<h3>Giving my freelancers’ details will affect their availability.</h3>
				<p>Yes, Probably: there is a good chance that by sharing their contact details, you will help your freelancers get more jobs. If this is the case, they should thank you. But you also know that these top talents are not just “your freelancers”. They are also promoting themselves by doing excellent work and they could be unavailable for your next project anyway. By sharing these details, you may lose some availability, but you do gain access to many more contacts and by this you increase your overall freelance availability.</p>
				<h3>Should I provide all the information about my contacts?</h3>
				<p>For each contact you add, you choose how much information you want to provide. We review your submission, and where there is need to complete the entry’s information fields, we will try to add as much information as we can.</p>
				<h3>Is my entry addition automatically added to the listing?</h3>
				<p>Once you submit new contact details, you can immediately see it in search results. But it is still pending our review, so that we can ensure there are no multiple listings, fake names or partial information.</p>
				<h3>Do I need permission from the freelancer to add them?</h3>
				<p>Once you add the contact details to the Roooster, we approach the freelancers and invite them to review their entry, to add or correct any detail that they want, or to completely remove their entry altogether. It is, however, important to note that the information regarding the freelancer is mostly available in various websites. The only private piece of information is the freelancer’s email, which is shared only with subscribed Roooster users.</p>
				<h3>The entry I added has disappeared from the search results</h3>
				<p>Entries may be taken off the Roooster if the person listed requests to be removed, if we find that the information is lacking or false, if it is a duplicate of another entry with a different email or if there is another type of problem with the information.</p>
				<h3>How can I add multiple freelancers at once?</h3>
				<p>If you want to add many contacts, you are very welcome. Please email Roooster.net a file with all of the details (preferably a spreadsheet) and we will review the details and then add them to the Roooster.</p>
				<h3>Can I post a job?</h3>
				<p>No. Roooster is not a job board. You can contact the talent directly and offer them a job based on your evaluation.</p>
				<h5></h5>
				<h6><span style="color: #999999;"><a style="color: #999999;" href="#" data-scroll-to=".section-top">Top</a></span></h6>
				<h1></h1>
				<p>&nbsp;</p>
				<!-- <h1 id="3"><strong>Freelancer Questions</strong></h1> -->
				<h2 class="article-title section-freelancer"> Freelancer Questions </h3>
				<hr>
				<p>&nbsp;</p>
				<h3>Why can’t I see or edit my details directly?</h3>
				<p>Roooster listings are available only to subscribers. At this point (we are still in Beta) we do not have entry editing access. If your name appears on Roooster, we contact you to inform you that you were listed, what your listed details are and ask you to approve the details or to change them to better represent you.</p>
				<h3>I have had enough of freelancing, how can I be removed from the Roooster?</h3>
				<p>Simple: contact us, either in response to the email we send you upon listing or via the <span style="color: #aa3939;">
				<a style="color: #aa3939;" href="mailto:info@roooster.net">Contact Us page</a>
				</span>. We will verify the email received and remove your entry.</p>
				<h3>Can I apply for a project?</h3>
				<p>No. Roooster is not a job board. When a studio looks for a freelancer in Roooster, we know they have a project in mind, so when they contact you, they will be communicating directly with you about this project.</p>
				<h5></h5>
				<h6><span style="color: #999999;"><a style="color: #999999;" href="#" data-scroll-to=".section-top">Top</a></span></h6>
				<h3>Where can I raise more questions?</h3>
				<p><span style="color: #aa3939;">
				<a style="color: #aa3939;" href="mailto:info@roooster.net">Click here</a>
				</span> to contact us directly.</p>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</section>